body {
	background-color:#FF0066;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
#table {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:50px;
	background:url('../img/bg.jpg') center center;
}
.floatingDialog {
	border:1px solid rgba(0,0,0,0.75);
	background-color:rgba(0,0,0,0.5);
	color:rgb(255,255,255);
	margin:25px;
	padding:25px;
}
#pot {
	position:absolute;
	color:rgba(255,255,255,1);
	font-size:20px;
	bottom:0;
	left:0;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	align-content:center;
	flex-wrap:wrap;
}
#winner {
	position:absolute;
	color:rgba(255,255,255,1);
	font-size:20px;
	bottom:0;
	left:0;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	align-content:center;
	flex-wrap:wrap;
}
#score {
	position:absolute;
	color:rgba(255,255,255,1);
	font-size:20px;
	top:0;
	left:0;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	align-content:center;
	flex-wrap:wrap;
}
#score .player-name {
	margin-left:auto;
	margin-right:auto;
}
#score .player-chips {
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
}
#score .turn {
	font-weight:bold;
	background-color: rgba(255,0,0,0.5);
}
#cards {
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	flex-wrap:wrap;
}
.card {
	margin:15px;
	width:175px;
	border-size:5px;
	font-weight:bold;
	border-radius:10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.75);
	flex-shrink:0;
	background-size:contain;
}